
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>{{usuario.id}}</td>
        <td><input type="text" [(ngModel)]="usuario.username" name="username" required class="form-control"></td>
        <td><button type="submit" class="btn btn-primary">Salvar</button></td>
      </tr>
    </tbody>
  </table>